/* 
    Veronica Hutchins
    10/13/2025 
    Assignment 05 - extra credit
*/

body { margin: 15px; }
h1 { color: rgba(200, 0, 255, 0.688); }
h3 { color: rgba(0, 55, 255, 0.462); }
p { color: green; text-align: center; }
footer { padding: 5px;}