@page "/"

<PageTitle>Home</PageTitle>

<h1>Preschool Games</h1>

Welcome to Preschool Games app! You can play fun games to help you learn 
and have fun at the same time. Click on a game to get started!
